<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="intercept-msalConfig.json" stopProcessing="false">
                    <match url="msalConfig.json$" />
                    <action type="Rewrite" url="msalConfig.aspx" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>