@model SimpleMvcApp.Features.ListPets.ListPetsViewModel

@{
    ViewBag.Title = "Pets";
    Layout = "_Layout";
}

<h2>Pets</h2>
<ul id="petsList">
    @foreach (var pet in Model.Pets)
    {
        <li>@pet.Name</li>
    }
</ul>

<p>
    No pets, or can't see your pet?
    Add one @Html.ActionLink("here", "Index", "NewPet")
</p>