@model dynamic

@{
    ViewBag.Title = "Pets";
    Layout = "_Layout";
}

<h2>Pets</h2>
<ul id="petsList">
    <li>Loading...</li>
</ul>

@section Scripts
{
    <script>
    window.addEventListener("load", function () {
        window.api.get('pets')
            .then(response => response.json() )
            .then(json => {
                var list = document.getElementById('petsList');
                list.textContent = '';
                json.forEach(item => {
                    var elem = document.createElement('li');
                    elem.append(item.name);
                    list.append(elem);
                });
            });
    }
);
</script>
}