@model dynamic

@{
    ViewBag.Title = "Pets";
    Layout = "_Layout";
}

<h2>Pets</h2>


@section Scripts
{
    <script>
window.addEventListener("load", function () {
    console.log('READY');
    }
);
</script>
}